@model HigherEducationApp.Models.InstitutionReport

@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/YearReportPlot.js"></script>
<script type="text/javascript">
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Направление', 'Кол-во студентов'],
            ['Гуманитарные науки', 90000],
            ['Искусство и культура', 89226],
            ['Оборона и безопасность государства, военные науки', 64],
            ['Математические и естественные науки', 172926],
            ['Инженерное дело, технологии и технические науки', 901026],
            ['Здравоохранение и медицинские науки', 335333],
            ['Сельское хозяйство и сельскохозяйственные науки', 111652],
            ['Науки об обществе', 793967],
            ['Образование и педагогические науки', 262305]
        ]);

        var options = {
            title: 'My Daily Activities',
            sliceVisibilityThreshold: .00001
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>

<div>
    <div class="block section" style=""><a name="I" style="top: -56px;"></a>I. Общие сведения</div>
    <div class="blockcontent" style="display:block;">
        <table id="info" cellspacing="2" style="color:#000;width:100%;">
            <tbody>
                <tr>
                    <td class="tt">Наименование образовательной организации</td>
                    <td><b style="font-family:Cambria;">@Model.Institution.Name</b></td>
                </tr>
                <tr>
                    <td class="tt">Регион,<br>адрес</td>
                    <td>
                        <a href="material.php?type=2&amp;id=10501">@Model.Institution.Region.Name</a><br><span id="post" coordinates="36.578734, 50.574974">@Model.Institution.Adress</span><span style="font:normal 700 11px/11px Arial;cursor:pointer;border:1px solid #bbb;background:#eee url(../../../img/struct_icon_1.png) 3px 1px no-repeat;border-radius:4px;padding:2px 5px 2px 22px;margin-left:10px;" onclick="$(&quot;#maps&quot;).parent(&quot;div&quot;).slideToggle(500);" id="onmap">на карте</span><div style="display:none;">
                            <div id="maps" style="margin-top: 5px; height: 315px; min-width: 500px; border: 1px solid rgb(170, 170, 187);"><ymaps class="ymaps-2-1-79-map" style="width: 0px; height: 0px;"><ymaps class="ymaps-2-1-79-map ymaps-2-1-79-i-ua_js_yes ymaps-2-1-79-map-bg ymaps-2-1-79-islets_map-lang-ru" style="width: 0px; height: 0px;"><ymaps class="ymaps-2-1-79-inner-panes"><ymaps class="ymaps-2-1-79-events-pane ymaps-2-1-79-user-selection-none" unselectable="on" style="height: 100%; width: 100%; top: 0px; left: 0px; position: absolute; z-index: 2500; cursor: url(&quot;https://api-maps.yandex.ru/2.1.79/build/release/images/cursor/grab.cur&quot;) 16 16, url(&quot;https://api-maps.yandex.ru/2.1.79/build/release/images/cursor/grab.cur&quot;), move;"></ymaps><ymaps class="ymaps-2-1-79-ground-pane" style="top: 0px; left: 0px; position: absolute; transform: translate3d(0px, 0px, 0px) scale(1, 1); z-index: 501;"><ymaps style="z-index: 150; position: absolute;"><ymaps style="position: absolute; left: 0px; top: 0px;"><ymaps unselectable="on" class="ymaps-2-1-79-user-selection-none" style="opacity: 1; position: absolute; background-repeat: no-repeat; background-size: 100% 100%; background-image: url(&quot;https://core-renderer-tiles.maps.yandex.net/tiles?l=map&amp;v=24.01.03-0-b231229121800&amp;x=19713&amp;y=11058&amp;z=15&amp;scale=1&amp;lang=ru_RU&amp;apikey=c7ebcb8f-8d1e-464e-bd09-f9a0f2601a46&amp;ads=enabled&quot;); width: 256px; height: 256px; left: -122px; top: -48px; transition-duration: 250ms; transition-property: opacity;"></ymaps><ymaps unselectable="on" class="ymaps-2-1-79-user-selection-none" style="opacity: 1; position: absolute; background-repeat: no-repeat; background-size: 100% 100%; background-image: url(&quot;https://core-renderer-tiles.maps.yandex.net/tiles?l=map&amp;v=24.01.03-0-b231229121800&amp;x=19712&amp;y=11057&amp;z=15&amp;scale=1&amp;lang=ru_RU&amp;apikey=c7ebcb8f-8d1e-464e-bd09-f9a0f2601a46&amp;ads=enabled&quot;); width: 256px; height: 256px; left: -378px; top: -304px; transition-duration: 250ms; transition-property: opacity;"></ymaps><ymaps unselectable="on" class="ymaps-2-1-79-user-selection-none" style="opacity: 1; position: absolute; background-repeat: no-repeat; background-size: 100% 100%; background-image: url(&quot;https://core-renderer-tiles.maps.yandex.net/tiles?l=map&amp;v=24.01.03-0-b231229121800&amp;x=19712&amp;y=11058&amp;z=15&amp;scale=1&amp;lang=ru_RU&amp;apikey=c7ebcb8f-8d1e-464e-bd09-f9a0f2601a46&amp;ads=enabled&quot;); width: 256px; height: 256px; left: -378px; top: -48px; transition-duration: 250ms; transition-property: opacity;"></ymaps><ymaps unselectable="on" class="ymaps-2-1-79-user-selection-none" style="opacity: 1; position: absolute; background-repeat: no-repeat; background-size: 100% 100%; background-image: url(&quot;https://core-renderer-tiles.maps.yandex.net/tiles?l=map&amp;v=24.01.03-0-b231229121800&amp;x=19713&amp;y=11057&amp;z=15&amp;scale=1&amp;lang=ru_RU&amp;apikey=c7ebcb8f-8d1e-464e-bd09-f9a0f2601a46&amp;ads=enabled&quot;); width: 256px; height: 256px; left: -122px; top: -304px; transition-duration: 250ms; transition-property: opacity;"></ymaps></ymaps></ymaps></ymaps><ymaps class="ymaps-2-1-79-copyrights-pane" style="height: 0px; inset: auto 0px 0px; position: absolute; z-index: 5002;"><ymaps><ymaps class="ymaps-2-1-79-copyright ymaps-2-1-79-copyright_logo_no ymaps-2-1-79-copyright_fog_yes" style=""><ymaps class="ymaps-2-1-79-copyright__fog">…</ymaps><ymaps class="ymaps-2-1-79-copyright__wrap"><ymaps class="ymaps-2-1-79-copyright__layout"><ymaps class="ymaps-2-1-79-copyright__content-cell"><ymaps class="ymaps-2-1-79-copyright__content"><ymaps class="ymaps-2-1-79-copyright__text">© Яндекс</ymaps><ymaps class="ymaps-2-1-79-copyright__agreement">&nbsp;<a class="ymaps-2-1-79-copyright__link" target="_blank" href="https://yandex.ru/legal/maps_termsofuse/?lang=ru" rel="noopener">Условия</a></ymaps></ymaps></ymaps><ymaps class="ymaps-2-1-79-copyright__logo-cell"><a class="ymaps-2-1-79-copyright__logo" href="" target="_blank"></a></ymaps></ymaps></ymaps></ymaps></ymaps><ymaps class="ymaps-2-1-79-map-copyrights-promo"><ymaps><ymaps class="ymaps-2-1-79-gotoymaps" title="Как добраться" style="display: none;"><ymaps class="ymaps-2-1-79-gotoymaps__container"><ymaps class="ymaps-2-1-79-gotoymaps__pin"></ymaps><ymaps class="ymaps-2-1-79-gotoymaps__text-container" style="display: none;"><ymaps class="ymaps-2-1-79-gotoymaps__text">В Карты →</ymaps></ymaps></ymaps></ymaps><ymaps class="ymaps-2-1-79-gototaxi" title="Доехать на такси" style="display: none;"><ymaps class="ymaps-2-1-79-gototaxi__container"><ymaps class="ymaps-2-1-79-gototaxi__pin"></ymaps><ymaps class="ymaps-2-1-79-gototaxi__text-container" style="display: none;"><ymaps class="ymaps-2-1-79-gototaxi__text">На такси</ymaps></ymaps></ymaps></ymaps><a class="ymaps-2-1-79-gototech" target="_blank" href="https://tech.yandex.ru/maps/mapsapi/?from=api-maps " style="display: none;">API</a></ymaps></ymaps></ymaps><ymaps class="ymaps-2-1-79-controls-pane" style="width: 100%; top: 0px; left: 0px; position: absolute; z-index: 4503;"><ymaps class="ymaps-2-1-79-controls__toolbar" style="margin-top: 10px;"><ymaps class="ymaps-2-1-79-controls__toolbar_left"></ymaps><ymaps class="ymaps-2-1-79-controls__toolbar_right"></ymaps></ymaps><ymaps class="ymaps-2-1-79-controls__bottom" style="top: 0px;"></ymaps></ymaps><ymaps class="ymaps-2-1-79-places-pane" style="top: 0px; left: 0px; position: absolute; transform: translate3d(0px, 0px, 0px) scale(1, 1); z-index: 2004;"><ymaps class="ymaps-2-1-79-placemark-overlay ymaps-2-1-79-user-selection-none" unselectable="on" style="z-index: 650; height: 0px; width: 0px; position: absolute; left: 0px; top: 0px;"><ymaps><ymaps class="ymaps-2-1-79-islets_icon-with-caption"><ymaps class="ymaps-2-1-79-islets_icon-with-caption__caption-block"><ymaps class="ymaps-2-1-79-islets_icon-caption" style="padding: 0px; max-width: 0px;"></ymaps></ymaps><ymaps id="id_170437611619573151422"><ymaps class="ymaps-2-1-79-svg-icon ymaps_https___api_maps_yandex_ru_2_1_79_301534543881islands_icon___1E98FF_34x41_1704376116661" style="position: absolute; width: 34px; height: 41px; left: -11px; top: -38px;"><ymaps class="ymaps-2-1-79-svg-icon-content" style="font: 13px Arial, sans-serif; position: absolute; text-align: center;left: 5px;top: 6px;width: 16px;height: 16px;"><ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></ymaps></div>
                            <span style="font:normal 400 11px Tahoma;position:relative;" onmouseover="$('.wrongaddra').fadeIn(50);" onmouseout="$('.wrongaddra').fadeOut(50);"><span style="color:#888;cursor:pointer;text-decoration:underline;text-decoration-style:dotted;">Неверно отображается местоположение образовательной организации?</span> <span style="text-decorationnone;color:#222;display:none;position:absolute;left:375px;top:1px;border:1px solid #ccc;background:#eee;border-radius:3px;padding:0px 4px;white-space:nowrap;" class="wrongaddra">Обратитесь в ГИВЦ для уточнения адреса организации</span></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td class="tt">Ведомственная принадлежность</td>
                    <td>@Model.Institution.Department</td>
                </tr>
                <tr>
                    <td class="tt">web-сайт</td>
                    <td>@Model.Institution.Site</td>
                </tr>
                <tr>
                    <td class="tt">Учредитель(и)</td>
                    <td><p>@Model.Institution.Founder</p></td>
                </tr>
                <tr><td class="tt"></td><td></td></tr>
            </tbody>
        </table>
    </div>
</div>
