@model List<HigherEducationApp.Models.ReviewOfInstitution>

@{
    ViewData["Title"] = "Index";
}

<div>
    <h1>Отзывы о вузах России</h1>
    <select class="form-select form-select-lg w-100 mb-3">
        <option selected>Выберите образовательную организацию</option>
        @foreach (Institution institution in ViewBag.Institutions)
        {
            <option value="@institution.Id">@institution.Name</option>
        }
    </select>
    <div>
        @for (int i = 0; i < Model.Count; i++)
        {
            <div class="card w-90 mx-5 mb-3" style="background-color: @ViewBag.TonalityColor[Model[i].Tonality]">
                <h4 class="card-header">@Model[i].Institution.Name</h4>
                <div class="card-body">
                    <h5 class="card-title">@Model[i].AuthorStatus</h5>
                    <p class="card-text">@Model[i].Text</p>
                    <a href="InstitutionReport?id=@Model[i].Institution.Id&year=2023" class="btn btn-primary">Отчет ВУЗа</a>
                </div>
            </div>
        }
    </div>
</div>
