@model HigherEducationApp.Dto.YearReportDto

@{
    ViewData["Title"] = "Details";
}
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/YearReportPlot.js"></script>
<script src="~/js/JavaScript.js"></script>

<h1>Details</h1>

<div>
    <h4>@Model.Year</h4>
    <h4>@Model.CountAllStudents</h4>
    <h4>@Model.CountFreeFormStudents</h4>
    <h4>@Model.CountFullTimeStudents</h4>
    <div id="piechart" style="width: 900px; height: 500px"></div>
    <p id="p"></p>
</div>

<div>
    <a asp-action="Edit" asp-route-id="@Model.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
