@model HigherEducationApp.Models.YearReport

@{
    ViewData["Title"] = "Index";
}

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
@*<script src="~/js/YearReportPlot.js" asp-append-version="true"></script>*@
<script>
    google.charts.load('current', { 'packages': ['corechart'] });
    google.charts.setOnLoadCallback(drawChart);

    function drawChart() {

        var data = google.visualization.arrayToDataTable([
            ['Направление', 'Кол-во студентов'],
            ['Науки об обществе', parseInt(@ViewBag.BranchScience[0])],
            ['Образование и педагогические науки', parseInt(@ViewBag.BranchScience[1])],
            ['Гуманитарные науки', parseInt(@ViewBag.BranchScience[2])],
            ['Искусство и культура', parseInt(@ViewBag.BranchScience[3])],
            ['Математические и естественные науки', parseInt(@ViewBag.BranchScience[4])],
            ['Инженерное дело, технологии и технические науки', parseInt(@ViewBag.BranchScience[5])],
            ['Здравоохранение и медицинские науки', parseInt(@ViewBag.BranchScience[6])],
            ['Сельское хозяйство и сельскохозяйственные науки', parseInt(@ViewBag.BranchScience[7])]
        ]);

        var options = {
            title: '',
            sliceVisibilityThreshold: .00001
        };

        var chart = new google.visualization.PieChart(document.getElementById('piechart'));

        chart.draw(data, options);
    }
</script>
<div class="list-group list-group-horizontal">
    @for (int i = 2023; i > 2014; i--)
    {
        <a href="YearReport?year=@i"
           class="list-group-item list-group-item-action text-center">
            @i
        </a>
    }
</div>
<div class="info" id="res" style="font: normal 400 11px Tahoma;">
    <h1>Характеристика высшего образование в РФ за @Model.Year год</h1>

    <div id="statistic" style="width: 100%; position: relative; margin: 10px 0px 0px;">
        <div class="statistic_info" style="position: relative;padding: 4px 9px;font: 20px / 20px Tahoma;color: rgb(68, 85, 85);left: 0px;" id="statistic_info_all">
            <span><span class="val">@ViewBag.Indicators[0]</span> организаций высшего образования<sup style="font:9px Calibri;"></sup>, в том числе:</span>
            <div style="border-left:10px solid #88b;padding:0px 6px;margin:4px 0px;margin-left:6px;">
                <span class="val" style="font-size:15px;">@ViewBag.Indicators[1]</span> филиалов
            </div>
            <div style="border-left:10px solid #c8a;padding:0px 6px;margin:4px 0px;margin-left:6px;">
                <span class="val" style="font-size:15px;">@ViewBag.Indicators[2]</span> федеральных университетов
            </div>
            <div style="border-left:10px solid #9a8;padding:0px 6px;margin:4px 0px;margin-left:6px;">
                <span class="val" style="font-size:15px;">@ViewBag.Indicators[3]</span> национальных исследовательских университетов
            </div>
            <div style="border-left:10px solid #98a;padding:0px 6px;margin:4px 0px;margin-left:6px;">
                <span class="val" style="font-size:15px;">@ViewBag.Indicators[4]</span> участник проекта 5-100
            </div>
            <hr style="border:none;border-bottom:1px solid #aaa;margin:0px 9px;">
            <table style="margin-top:6px;">
                <tbody>
                    <tr style="">
                        <td style="padding-top:1px;vertical-align:top;font: normal 400 11px/10px Tahoma;text-align:right;">государственных<br>и муниципальных</td>
                        <td style="vertical-align:top;"><span class="val">@ViewBag.Indicators[5]</span></td>
                        <td style="text-align:center;width:104px;">
                            <svg width="104" height="23">
                                <g transform="translate(2,0)">
                                    <linearGradient id="kdef2" x1="0" y1="0" x2="0" y2="1" gradientUnits="objectBoundingBox"><stop offset="0" style="stop-color:#fff;stop-opacity:0;"></stop><stop offset="0.25" style="stop-color:#fff;stop-opacity:0.25;"></stop><stop offset="1" style="stop-color:#fff;stop-opacity:0;"></stop></linearGradient>
                                    <path d="M74.5 7.5v11H0.5  v-11z" stroke-width="0.5" stroke-opacity="0.9" stroke="#000" fill="#83A2D3"> </path>
                                    <path d="M74.5 7.5v11H100.5v-11z" stroke-width="0.5" stroke-opacity="0.5" stroke="#000" fill="#FFB27F"> </path>
                                    <path d="M0.5 7.5H100.5v11H0.5z" stroke="none" fill="url(#kdef2)"></path>
                                    <path d="M74 5v16" stroke="#456" stroke-width="2"></path>
                                </g>
                            </svg>
                        </td>
                        <td style="vertical-align:top;text-align:right;"><span class="val">@ViewBag.Indicators[6]</span></td>
                        <td style="padding-top:5px;vertical-align:top;font-size:11px;text-align:left;">частных</td>
                    </tr>
                </tbody>
            </table>
            <hr style="border:none;border-bottom:1px solid #aaa;margin:0px 9px;">
        </div>

        <div class="statistic_info" style="position: relative;padding: 4px 9px;font: 20px / 20px Tahoma;color: rgb(68, 85, 85);left: 0px;" id="statistic_info_chart_kont">
            <div style="border-left:10px solid #88b;padding:0px 6px;margin:4px 0px;margin-left:6px;">
                <span class="val" style="font-size:15px;">@Model.CountAllStudents</span> студентов, обучающихся по программам высшего образования
            </div>
            <div style="border-left:10px solid #c8a;padding:0px 6px;margin:4px 0px;margin-left:6px;">
                <span class="val" style="font-size:15px;">@Model.CountFullTimeStudents</span> студентов очной формы обучения
            </div>
            <div style="border-left:10px solid #9a8;padding:0px 6px;margin:4px 0px;margin-left:6px;">
                <span class="val" style="font-size:15px;">@Model.CountFreeFormStudents</span> студентов за счет бюджетных средств бюджетной системы РФ
            </div>
            <hr style="border:none;border-bottom:1px solid #aaa;margin:0px 9px;">
            <table style="margin:4px 9px;">
                <tbody>
                    <tr style="">
                        <td style="padding-top:1px;vertical-align:top;font: normal 400 12px/10px Tahoma;text-align:right;">обучаются в государственных<br>и муниципальных организациях</td>
                        <td style="vertical-align:top;text-align:right;"><span class="val">90,8<span style="font-size:12px;">%</span></span></td>
                        <td style="text-align:center;">
                            <svg width="104px" height="23px">
                                <g transform="translate(2,0)">
                                    <linearGradient id="kdef2" x1="0" y1="0" x2="0" y2="1" gradientUnits="objectBoundingBox"><stop offset="0" style="stop-color:#fff;stop-opacity:0;"></stop><stop offset="0.25" style="stop-color:#fff;stop-opacity:0.25;"></stop><stop offset="1" style="stop-color:#fff;stop-opacity:0;"></stop></linearGradient>
                                    <path d="M91.5 7.5v11H0.5  v-11z" stroke-width="0.5" stroke-opacity="0.9" stroke="#000" fill="#83A2D3"></path>
                                    <path d="M91.5 7.5v11H100.5v-11z" stroke-width="0.5" stroke-opacity="0.6" stroke="#000" fill="#FFB27F"></path>
                                    <path d="M0.5 7.5H100.5v11H0.5z" stroke="none" fill="url(#kdef2)"></path>
                                    <path d="M91 5v16" stroke="#456" stroke-width="2"></path>
                                </g>
                            </svg>
                        </td>
                        <td style="vertical-align:top;text-align:right;"><span class="val">9,2<span style="font-size:12px;">%</span></span></td>
                        <td style="padding-top:1px;vertical-align:top;font:normal 400 11px/10px Tahoma;text-align:left;">в частных<br>организациях</td>
                    </tr>

                </tbody>
            </table>
            <hr style="border:none;border-bottom:1px solid #aaa;margin:0px 9px;">

        </div>
    </div>
    <h3>Распределение студентов по отраслям наук</h3>
    <div id="piechart" style="width: 100%;height: 400px;padding-top: 15px;position: relative;" data-role="chart"></div>
    <h3>Отчеты субъектов Российской Федерации</h3>
    <table id="listRegions" class="table table-sm">
        <tbody>
            <tr>
                <td>
                    <div class="list-group">
                        @for (int i = 0; i < 29; i++)
                        {
                            <a style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 2px;"
                               href="RegionReport?id=@Model.RegionReports[i].Region.Id&year=@Model.Year"
                               class="list-group-item list-group-item-action">@Model.RegionReports[i].Region.Name</a>
                        }
                    </div>
                    @*@for (int i = 0; i < 29; i++)
                        {
                            <p><a href="RegionReport?id=@Model.RegionReports[i].Region.Id&year=@Model.Year" class="link-dark">@Model.RegionReports[i].Region.Name</a></p>
                        }*@
                </td>
                <td>
                    <div class="list-group">
                        @for (int i = 29; i < 58; i++)
                        {
                            <a style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 2px;"
                               href="RegionReport?id=@Model.RegionReports[i].Region.Id&year=@Model.Year"
                               class="list-group-item list-group-item-action ">@Model.RegionReports[i].Region.Name</a>
                        }
                    </div>
                    @*@for (int i = 29; i < 58; i++)
                        {
                            <p><a href="RegionReport?id=@Model.RegionReports[i].Region.Id&year=@Model.Year" class="link-dark">@Model.RegionReports[i].Region.Name</a></p>
                        }*@
                </td>
                <td>
                    <div class="list-group">
                        @for (int i = 58; i < Model.RegionReports.Count; i++)
                        {
                            <a style="padding-bottom: 5px; padding-top: 5px; margin-bottom: 2px;"
                               href="RegionReport?id=@Model.RegionReports[i].Region.Id&year=@Model.Year"
                               class="list-group-item list-group-item-action">@Model.RegionReports[i].Region.Name</a>
                        }
                    </div>
                    @*@for (int i = 58; i < Model.RegionReports.Count; i++)
                        {
                            <p><a href="RegionReport?id=@Model.RegionReports[i].Region.Id&year=@Model.Year" class="link-dark">@Model.RegionReports[i].Region.Name</a></p>
                        }*@
                </td>
            </tr>
        </tbody>
    </table>
</div>


