@model List<HigherEducationApp.Models.RatingInstitution>

@{
    ViewData["Title"] = "Index";
}

<div>
    <div class="list-group list-group-horizontal">
        @for (int i = 2023; i > 2014; i--)
        {
            <a 
               href="RatingInstitutions?year=@i" 
               class="list-group-item list-group-item-action text-center">
               @i
            </a>
        }
    </div>
    <h1>Рейтинг лучших вузов России, @ViewBag.Year год</h1>
    <table class="table mx-auto w-75">
        <thead>
            <tr>
                <th scope="col">Место</th>
                <th scope="col">Название</th>
                <th scope="col">Общий<br />рейтинг<br />(балл)</th>
                <th scope="col">Рейтинг<br />образования<br />(место)</th>
                <th scope="col">Рейтинг<br />науки<br />(место)</th>
                <th scope="col">Рейтинг<br />финансов<br />(место)</th>
            </tr>
        </thead>
        <tbody class="table-group-divider">
            @foreach (RatingInstitution rating in Model)
            {
            <tr>
                <td>@Model.IndexOf(rating)</td>
                <td><a href="InstitutionReport?id=@rating.Institution.Id&year=@rating.YearReport.Year">@rating.Institution.Name</a></td>
                <td>@Math.Round(rating.Rating, 2)</td>
                <td>@rating.RatingEducation</td>
                <td>@rating.RatingScience</td>
                <td>@rating.RatingFinance</td>
            </tr>
            }
        </tbody>
    </table>
</div>